// RAMEN GRAPH

.yText {
  content: "Calories";
}

.ramen-list {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.sorter {
  display: flex;
  cursor: pointer;
}

// EXERCISE GRAPH
.xAxis.exercise {
  font-size: 20px;

  .tick text {
    transform: rotate(-25);
    text-anchor: end;
  }
}

.yAxis.exercise {
  font-size: 20px;
}

.bar {
  fill: orange;

  &:hover {
    opacity: 0.66;
    cursor: pointer;
  }
}

//TOOLTIP

.d3-tip.exercise {
  line-height: 1;
  font-weight: bold;
  padding: 5px;
  color: black;
  border-radius: 2px;
  pointer-events: none;

  &:after {
    box-sizing: border-box;
    display: inline;
    position: absolute;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    margin: -12px;
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 70%;
    left: 0;
    text-align: center;
  }
}
