// RAMEN GRAPH
.d3-ramen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  h2 {
    display: flex;
    justify-content: center;
  }

  label {
    position: relative;
    left: 110px;
    width: 140px; 
  }
}

.yText {
  content: "Calories";
}

.ramen-list {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.sorter {
  display: flex;
  cursor: pointer;
}

// EXERCISE GRAPH
.d3-exercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    display: flex;
    justify-content: center;
  }
  .e-btn-cntr {
    display: flex;
    justify-content: space-around;
  }
}
.xAxis.exercise {
  font-size: 20px;

  .tick text {
    transform: rotate(-25);
    text-anchor: end;
  }
}

.yAxis.exercise {
  font-size: 20px;
}

.bar {
  fill: orange;
  mix-blend-mode: multiply;

  &:hover {
    opacity: 0.66;
    cursor: pointer;
  }
}

//TOOLTIP

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  pointer-events: none;
  position: absolute;

  &:after {
    box-sizing: border-box;
    display: inline;

    font-size: 10px;
    width: 100%;
    line-height: 1;
    margin: 20px;
  }
}
