header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background: lightsteelblue;

  .logo-container {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 15%;
    height: 100%;
  }

  .h.links {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    width: 150px;

    li {
      transition: 0.2s;
      &:hover {
        transform: scale(1.25);
        
      }
      
      .fab, .far{
        text-decoration: none;
        color: darkslateblue
      }
    }
  }
}
