html {
  display: flex;
  justify-content: center;
  background: rgba(231, 231, 231, 0.89);
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 90vw;
  height: 95vh;
  margin-top: 25px;
}

.ramen-list {
  font-family: inherit;
}

.main-body {
  display: flex;
  width: 100%;
}

.d3-ramen {
  box-sizing: border-box;
}

footer {
  border: 1px solid black;
  display: block;
}
