body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.ramen-list {
  font-family: inherit;
}

.main-body {
  display: flex;
}

.yText {
  content: "Calories";
}

.ramen-list {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.bar {
  &:hover {
    opacity: 0.66;
    cursor: pointer;
  }
}

.sorter {
  display: flex;
  cursor: pointer;
}
