html {
  display: flex;
  justify-content: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 1200px;
}

.ramen-list {
  font-family: inherit;
}

.main-body {
  display: flex;
  width: 1000px;
}

.d3-ramen {
  box-sizing: content-box;
}

footer {
  border: 1px solid black;
  display: block;
}
