html {
  display: flex;
  justify-content: center;
  background: rgba(231, 231, 231, 0.89);
  background-image: url("/assets/images/bg-wood1.jpg");
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 1150px;
  height: 95vh;
  margin-top: 25px;

}

.main-content {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.main-body {
  display: flex;
  width: 100%;
}

.d3-ramen {
  box-sizing: border-box;
}
